.button-box {
  display: flex;
  .button {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.table {
  margin: 10px 0;
}

:global(.ant-table-thead .ant-table-selection) {
  display: none;
}
